<div class="jumbotron jumbotron-fluid am-purple text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="display-3">Amaysim</h1>
        <p class="lead">Random marketing blah blah blah blah</p>
        <hr class="my-4">
        <p>random summuary of the latest product they're trying to sell.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg bg-orange" href="#" role="button">Sign up</a>
        </p>
      </div>
      <div class="col-sm-6">
        <img class="google-home" src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt" alt="google home">
      </div>
    </div>
  </div>
</div>
<!--end first jumbotron-->
<!-- start mini logo-->
<div class="container-fluid">
  <div class="row text-align-center justify-content-center">
    <div class="col-sm-3">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg" alt="random image">
      <h4>no lock-in contracts</h2>
      <p>Some random stuff #1</p>
    </div>
    <div class="col-sm-3">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg" alt="random image">
      <h4>simple to join</h2>
      <p>Some random stuff #2</p>
    </div>
    <div class="col-sm-3">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg" alt="random image">
      <h4>easy to manage</h2>
      <p>Some random stuff #3</p>
    </div>
  </div>
</div>
  <!-- end mini logos-->
  <!-- start cards-->
<div class="container">
  <div class="row text-white justify-content-center">
    <div class="col-sm-3">
      <div class="card mb-3 bg-orange">
        <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/mobile%20plans.png?itok=69f-sg5G" alt="Card image">
        <div class="card-block">
          <h4 class="card-title">Sim-only mobile plans</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-text" href="..."><small>mobile plans</small></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 orange-card1">
        <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/nbn.png?itok=YemmV9dC" alt="Card image">
        <div class="card-block">
          <h4 class="card-title">nbn broadband plans</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-text" href="..."><small>nbn plans</small></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mb-3 orange-card2">
        <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout_2x/public/cta/2017-05/data%20only.png?itok=dGtEaTb5" alt="Card image">
        <div class="card-block">
          <h4 class="card-title">data only plans</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a class="card-text" href="..."><small>data-only plans</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- end cards-->
  <!--start 2nd jumbotron-->
<div class="am-purple">
  <div class="jumbotron jumbotron-fluid am-purple text-white">
    <div class="container">
      <div class="row justify-content-center">
        <img class="canstar" src="https://www.amaysim.com.au/sites/default/files/cta/2017-07/website_award_2016-2017.png" alt="canstar logo">
      </div>
      <div class="row canstar-sum">
        <h3 class="my-4">93% of our customers have recommended amaysim to their mates</h1>
        <p class="text-muted"> NPS tracking survey of 2679 customers, May 2017</p>
      </div>
      <div class="row justify-content-center">
        <p class="lead">
          <a class="btn btn-primary btn-lg bg-orange" href="..." role="button">compare plans</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end 2nd jumbotron-->
<!-- start what start-->
<div class="container">
  <div class="container align-middle">
    <div class="row">
      <h3 class="purp-text">what we've been up to</h3>
      <h3></h3>
    </div>
  </div>
</div>
<!-- end what-->
<!-- start orange jumbotron-->
<div class="bg-orange">
  <div class="jumbotron jumbotron-fluid bg-orange text-white">
    <div class="container">
      <div class="row justify-content-center">
        <h3>we've been named best VNO</h3>
      </div>
      <div class="row justify-content-center">
        <p> Delivering on the promises that we made to Aussies 6 years ago.</p>
      </div>
      <div class="row justify-content-center">
        <p class="lead">
          <a class="btn btn-primary btn-lg am-purple" href="#" role="button">read all about it</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end orange jumbotron-->
<!-- random blog looking things-->
<div class="container">
  <h5 class="oj-text">What a two year mobile phone contract will really cost you</h5>
  <p>14 Sept 2016 in <a href="...">Tech Talk</a></p>
  <p></p>
  <h5 class="oj-text">Check out our new and improved Help section</h5>
  <p>14 Sept 2016 in <a href="...">Plans & Services</a></p>
  <p></p>
  <h5 class="oj-text">AS YOU GO credit now lasts for 365 days</h5>
  <p>16 Aug 2016 in <a href="...">Plans & Services</a></p>
  <p></p>
</div>
<!-- end blog thingy-->
<!-- start logo links-->
<div class="container">
  <div class="row">
    <h3 class="purp-text">already with amaysim?</h3>
  </div>
</div>
<div class="container">
  <div class="row oj-text justify-content-center text-align-center">
    <div class="col-sm-3">
      <a href="...">
        <div class="card mb-3">
          <img class="card-img-top" src="https://media.glassdoor.com/sqll/1146452/amaysim-australia-squarelogo-1483833434376.png" alt="Card image">
          <div class="card-block">
            <h5 class="card-title">activate sim</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="...">
        <div class="card mb-3">
          <img class="card-img-top" src="https://media.glassdoor.com/sqll/1146452/amaysim-australia-squarelogo-1483833434376.png" alt="Card image">
          <div class="card-block">
            <h5 class="card-title">recharge plan</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="...">
        <div class="card mb-3">
          <img class="card-img-top" src="https://media.glassdoor.com/sqll/1146452/amaysim-australia-squarelogo-1483833434376.png" alt="Card image">
          <div class="card-block">
            <h5 class="card-title">manage account</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/help/mobile.html">
        <div class="card mb-3">
          <img class="card-img-top" src="https://media.glassdoor.com/sqll/1146452/amaysim-australia-squarelogo-1483833434376.png" alt="Card image">
          <div class="card-block">
            <h5 class="card-title">need help?</h5>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
