<!-- nav bar -->
<div class="container-fluid">
<div class="row justify-content-end bg-orange2">
  <div class="col-sm-2">
    <span class="badge badge-defult">Activate SIM</span>
  </div>
  <div class="col-sm-2">
    <span class="badge badge-defult">Login</span>
  </div>
</div>
  <nav class="navbar navbar-toggleable-md navbar-light bg-orange row">
    <a class="navbar-brand text-white" href="#">amaysim</a>
    <ul class="nav nav-tabs justify-center-end nav-fill border-none bg-orange">
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">plans</a>
        <div class="dropdown-menu">
          <a class="dropdown-item text-white" href="#">mobile plans</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-white" href="#">nbn plans</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-white" href="#">data-only plans</a>
        </div>
      </li>
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">about</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">who we are</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">why amaysim</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Check mobile network coverage</a>
          <a class="dropdown-item" href="#">Find a store</a>
          <a class="dropdown-item" href="#">Read our blog</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-white" href="#">help</a>
      </li>
    </ul>
  </nav>
</div>
